{% extends 'Main/base.html' %}
  {% block content %}
    <div class="blog-header">
      <div class="container">
      <div class="row">
        <div class="col-sm-9 blog-main">
          {% for post in blog_posts %}
          <div class="card">
            <h2 class="blog-post-title card-header">
            {% if user.is_authenticated %}
            <a href="{% url 'blog_edit' post.id %}"><i class="fa fa-edit">  </i></a>
            <a href="{% url 'blog_delete' post.id %}"><i class="float-right fa fa-trash-o">  </i></a>
            {% endif %}<a href="{% url 'post' post.id %}">{{post.title}}</a></h2>
            <div class="card-block">
              <p class="blog-post-meta card-text">{{post.date}} by <a href="#">Evgeny</a></p>

              <p class="card-text ">{{post.description|safe}}</p>
            </div>
          </div>
          <!-- /.blog-post -->
        {% endfor %}
        <nav class="float-right blog-pagination py-2">
            <a class="btn btn-outline-secondary {% if not page %} disabled {% endif %}" href="{% url 'blog_page' page|add:'-1' %}">Newer</a>
            <a class="btn btn-outline-primary" href="{% url 'blog_page' page|add:'1' %}">Older</a>
          </nav>
        </div>
        <div class="col-sm-3 offset-sm-1 blog-sidebar">
          <div class="sidebar-module sidebar-module-inset">
            <h4>About</h4>
            <p>Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.</p>
          </div>
          <div class="sidebar-module">
            <h4>Archives</h4>
            <ol class="list-unstyled">
              <li><a href="#">March 2014</a></li>
              <li><a href="#">February 2014</a></li>
              <li><a href="#">January 2014</a></li>
              <li><a href="#">December 2013</a></li>
              <li><a href="#">November 2013</a></li>
              <li><a href="#">October 2013</a></li>
              <li><a href="#">September 2013</a></li>
              <li><a href="#">August 2013</a></li>
              <li><a href="#">July 2013</a></li>
              <li><a href="#">June 2013</a></li>
              <li><a href="#">May 2013</a></li>
              <li><a href="#">April 2013</a></li>
            </ol>
          </div>
        </div><!-- /.blog-sidebar -->

      </div><!-- /.row -->

    </div><!-- /.container -->
    </div>

    <footer class="blog-footer container">
        <a href="#">Back to top</a>
      </p>
    </footer>
  {% endblock %}
