{% extends 'Main/base.html' %}
  {% block content %}
  <div class="py-5 section" id="about">
    <div class="container">
      <div class="row w-75 mx-auto">
        <div class="col-md-12">
          <h1 class="mb-4">About this webpage</h1>
          <p class="lead">I'm Evgeny Andruschenko and this is my personal webpage. I put my creations here. You are welcome to be my guest.</p>
        </div>
      </div>
    </div>
  </div>
  <footer class="text-left bg-faded py-4" id="footer">
    <div class="container">
      <div class="row">
        <div class="my-3 col-lg-4 col-md-4 text-right">
        </div>
        <div class="my-3 col-lg-4 col-md-4 text-right">
        </div>
        <div class="my-3 col-lg-4 col-md-4 text-right">
          <h3 class="pi-item">Follow</h3>
          <a href="https://www.facebook.com" target="blank"><i class="fa fa-3x fa-facebook-square m-3 text-muted"></i></a>
          <a href="https://www.instagram.com" target="blank"><i class="fa fa-3x fa-instagram m-3 text-muted"></i></a>
          <a href="https://twitter.com" target="blank"><i class="fa fa-3x fa-twitter m-3 text-muted"></i></a>
        </div>
      </div>
    </div>
  </footer>
  <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
  <script src="https://pingendo.com/assets/bootstrap/bootstrap-4.0.0-alpha.6.min.js"></script>
  <script src="https://pingendo.com/assets/scripts/smooth-scroll.js"></script>
  <script src="https://pingendo.com/assets/scripts/slidein-images.js"></script>
{% endblock %}