{% extends 'Main/base.html' %}
  {% block content %}
  {% load staticfiles %}
<div class="text-center">
  <div class="py-5 section" id="about">
    <div class="container">
      <div class="row w-100 mx-auto">
        <div class="col-md-12">
          <h1 class="mb-4">About this webpage</h1>
              <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                  <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                  <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                  <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner" role="listbox">
                  <div class="carousel-item active">
                  <img src="https://raw.githubusercontent.com/evgenyvmi/personalwebsite/8c40c936c209d72b10ce56ff37c91366249b9972/main/static/css/carousel-picture-1.JPG" alt="Third Picture">
                  </div>
                  <div class="carousel-item">
                    <img src="https://pp.userapi.com/c638421/v638421427/1c476/XuI77vOAhZg.jpg" alt="First Picture">
                  </div>
                  <div class="carousel-item">
                    <img src="https://pp.userapi.com/c626929/v626929427/114f2/ftyReKezMko.jpg" alt="Second Picture">
                  </div>
                <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                  <i class="fa fa-angle-left"></i>
                </a>
                <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                  <i class="fa fa-angle-right"></i>
                </a>
                </div>
              </div>
          <p class="lead">I'm Evgeny Andruschenko and this is my personal webpage. I put my creations here.</p>
        </div>
      </div>
    </div>
  </div>
  <footer class="text-left bg-faded" id="footer">
    <div class="container">
      <div class="row">
        <div class="my-3 col-lg-12 col-md-12 text-right">
          <h3 class="pi-item">Follow</h3>
          <a href="https://www.facebook.com/evgeny.andrushenko" target="blank"><i class="fa fa-3x fa-facebook-square m-3 text-muted"></i></a>
          <a href="https://vk.com/id20149427" target="blank"><i class="fa fa-3x fa-vk m-3 text-muted"></i></a>
        </div>
      </div>
    </div>
  </footer>
</div>

{% endblock %}